<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <title>Sold it</title>
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <% if (user) { %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/basket">Basket-</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sell">Sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    <% } else { %>
      <a href="/auth/google" class="">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" alt="Login"></a>
    <% } %>
  </nav>
  
  <h1 class="display-4">Sold It</h1>
  <h2 class="display-6"><%= title %></h2>