<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/94f3ba50b2.js" crossorigin="anonymous"></script>
  <script src="https://buy.stripe.com/test_8wMbLZ7RA2oV65i5kl" defer></script>
  <link rel="icon" href="../../public/images/logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <title>Sold it</title>
</head>
<body>


  <nav class="navbar navbar-light bg-white py-3">
    <div class="container mg-4">
      <div class="nav-left">
      <a class="navbar-brand d-flex justify-content-between align-items-center order-lg-0" href="/">
        <span class="text-uppercase fw-lighter ms-2">SOLDIT</span>
      </a>


      <a class="nav-link dropdown-toggle" id="categoriesDropdown" type="button" data-bs-toggle = "collapse" data-bs-target="#navMenu"
      aria-expanded="false">Categories</a>
      </div>

      <% if (user) { %>
        <div class="nav-btns">
          <a href="/basket" class="btn position-relative">
              <i class="fa fa-shopping-cart"></i>
              <span class = "position-absolute top-0 start-100 translate-middle badge bg-warning"><%= user.basket.length %></span>
          </a>
          <a class="btn position-relative" id="categoriesDropdown" type="button" data-bs-toggle = "collapse" data-bs-target="#userMenu"
            aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
          <a href="/logout" class="btn position-relative">
            <i class="fa fa-right-from-bracket"></i>
          </a>
        </div>
      <% } else { %>
        <a href="/auth/google" class="btn position-relative">
          <i class="fa fa-google"></i>
        </a>
      <% } %>

      <div class="collapse navbar-collapse order-lg-1 position-static" id="userMenu">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item py-2">
                <a class="nav-link text-uppercase text-dark" href="/user/orders">
                  Orders &nbsp;&nbsp;<i class="fa fa-truck"></i>
                </a>
            </li>
            <li class="nav-item py-2">
                <a class="nav-link text-uppercase text-dark" href="/user/selling">
                  Selling &nbsp;&nbsp;<i class="fa fa-gavel"></i>
                </a>
            </li>
            <li>
              <a href="/sell" class="btn position-relative">
                New Product &nbsp;&nbsp;<i class="fa fa-tag"></i>
              </a>
            </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse order-lg-1" id="navMenu">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item py-2">
                <a class="nav-link text-uppercase text-dark" href="/categories/Electronics">
                  Electronics &nbsp;&nbsp;<i class="fa fa-tablet"></i>
                </a>
            </li>
            <li class="nav-item py-2">
                <a class="nav-link text-uppercase text-dark" href="/categories/Fashion">
                  Fashion &nbsp;&nbsp;<i class="fa fa-tshirt"></i>
                </a>
            </li>
            <li class="nav-item py-2">
                <a class="nav-link text-uppercase text-dark" href="/categories/Sports">
                  Sports &nbsp;&nbsp;<i class="fa fa-soccer-ball"></i>
                </a>
            </li>
            <li class="nav-item py-2">
                <a class="nav-link text-uppercase text-dark" href="/categories/Books">
                  Books &nbsp;&nbsp;<i class="fa fa-book"></i>
                </a>
            </li>
            <li class="nav-item py-2">
                <a class="nav-link text-uppercase text-dark" href="/categories/Home">
                  Home &nbsp;&nbsp;<i class="fa fa-home"></i>
                </a>
            </li>
            <li class="nav-item py-2 border-0">
                <a class="nav-link text-uppercase text-dark" href="/categories/Garden">
                  Garden &nbsp;&nbsp;<i class="fa fa-tree"></i>
                </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  <main>

