<%- include('./partials/header') %>


<header class="vh-100">
    <div class="container-sm bg-dark">
        <h1>SoldIt</h1>
        <h2>Buying and Selling<br>made easy</h2>
    </div>
</header>

<br>
<br>
<br>
<div class="container">
    <div class="row">
        <%- products.map(function(product) {
            return `
            <div class="col-md-6 col-lg-4">
                <a href="/products/${product.id}">
                    <div class="product-home card-body">
                        <image src="https://img.freepik.com/premium-photo/white-tshirt-white-background-front-back-view-generative-ai_446633-7047.jpg?w=740"></image>
                        <h5 class="card-title">${product.name}</h5>
                        <p class="card-text">£${product.price}</p>
                    </div>
                </a>
            </div>
            `
        }).join('') %>
    </div>
</div>



<%- include('./partials/footer') %>