<%- include('./partials/header') %>


<header class="vh-100">
    <div class="shader">
        <div class="container-sm text-center text-white">
            <h1 class="display-1">SOLDIT</h1>
            <h2 class="">Buying and Selling<br>made easy</h2>
            <a href="#main-products" class="btn btn-warning mt-3 shop-btn px-4 py-2">Shop Now</a>
        </div>
    </div>
</header>


<div class="container mt-5" id="main-products">
    <br>
    <%- include('./partials/title') %>
    <div class="row justify-content-center align-items-center">
        <%- products.map(function(product) {
            return `
            <div class="col-sm-8 col-md-6 col-lg-4 index-cards">
                <a class="text-decoration-none justify-content-center d-flex align-items-center" href="/products/${product.id}">
                    <div class="product-home">
                        <image src="${product.image}"></image>
                        <span><p class="my-auto left text-black">${product.name}</p>
                        <p class="my-auto right">£${product.price.toLocaleString()}</p></span>
                    </div>
                </a>
            </div>
            `
        }).join('') %>
    </div>
</div>

<script src='/public/javascripts/client.js'></script>
<%- include('./partials/footer') %>