<%- include('./partials/header') %>


<header class="vh-100">
    <div class="shader">
        <div class="container-sm text-center text-white">
            <h1 class="display-1">SOLDIT</h1>
            <h2 class="">Buying and Selling<br>made easy</h2>
            <a href="#main-products" class="btn btn-light mt-3 shop-btn px-4 py-2">Shop Now</a>
        </div>
    </div>
</header>


<div class="container mt-5" id="main-products">
    <br>
    <%- include('./partials/title') %>
    <div class="row">
        <%- products.map(function(product) {
            return `
            <div class="col-md-6 col-lg-4">
                <a href="/products/${product.id}">
                    <div class="product-home card-body">
                        <image src="https://img.freepik.com/premium-photo/white-tshirt-white-background-front-back-view-generative-ai_446633-7047.jpg?w=740"></image>
                        <p class="card-title mt-2">${product.name}</p>
                        <p class="card-text">£${product.price}</p>
                    </div>
                </a>
            </div>
            `
        }).join('') %>
    </div>
</div>

<script src='/public/javascripts/client.js'></script>
<%- include('./partials/footer') %>