<%- include('./partials/header') %>
<%- include('./partials/title') %>

<div class="mx-auto p-4 col-md-8 text-left">
    <form action="/" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" name="name" type="text" required>
      </div>
      <div class="form-group">
        <label for="price">Price (£):</label>
        <input class="form-control" min="0" name="price" type="number" required>
      </div>
      <div class="form-group">
        <label for="image">Image URL:</label>
        <input type="text" class="form-control" name="image" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input class="form-control" name="description" type="text-area">
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" required name="category">
            <option value='Electronics'>Electronics</option>
            <option value='Fashion'>Fashion</option>
            <option value='Sports'>Sports</option>
            <option value='Books'>Books</option>
            <option value='Home'>Home</option>
            <option value='Garden'>Garden</option>
        </select>
      </div>
      <div class="form-group">
        <label for="quality">Quality</label>
        <select class="form-control" required name="quality">
            <option value='Brand New'>Brand New</option>
            <option value='Excellent'>Excellent</option>
            <option value='Very Good'>Very Good</option>
            <option value='Good'>Good</option>
            <option value='Fair'>Fair</option>
            <option value='Poor'>Poor</option>
        </select>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input class="form-control" name="quantity" min="1" type="number" required>
      </div>
      <div class="flex-column">
        <button type="submit" class="btn mt-3 btn-primary">Add Product</button>
      </div>
    </form>
  </div>

<%- include('./partials/footer') %>