<%- include('./partials/header') %>
<%- include('./partials/title') %>

<% if (user.orders.length) { %>

<% } else { %>
    <h2 class="text-center">No Orders Yet</h2>
<% } %>






<%- include('./partials/footer') %>