<%- include('../partials/header') %>
<%- include('../partials/title') %>

<% if (user.orders.length) { %>
    <div class="container-sm card-body border-dark">
        <%- user.orders.reverse().map(function(product) {
            return `
            <div class="orders-item">

                <div class="basket-left d-flex align-items-center justify-content-center">
                    <image src="${product.product.image}"></image>
                </div>
                <div class="basket-right">
                    <h4>${product.product.name} x ${product.quantity}</h4>
                    <h6>Total paid: £${product.product.price * product.quantity}</h6>
                    <p>Quality: ${product.product.quality}</p>
                    <a href="/products/${product.product._id}-new-review">Add Review</a>
                </div>

            </div>
            `


        }).join('') %>
    </div>
<% } else { %>
    <h2 class="text-center">No Orders Yet</h2>
<% } %>






<%- include('../partials/footer') %>