<%- include('../partials/header') %>
<%- include('../partials/title') %>


<% if (products.length) { %>
    <div class="container card-body border-dark">
    <%- products.reverse().map(function(product) {
        return `
        <div class="orders-item">

            <div class="basket-left d-flex align-items-center justify-content-center">
                <image src="${product.image}"></image>
            </div>
            <div class="basket-right">
                <h4>${product.name}</h4>
                <h6>Price: £${product.price.toLocaleString()}</h6>
                <p>Stock: ${product.quantity}</p>
                <p>Quality: ${product.quality}</p>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center">
                <form action="edit/${product._id}">
                <button class="btn btn-icon"><i class="fa fa-edit mt-3 mr-2"></i></button>
            </form> <br><br><br>
            <form action="/products/${product._id}/delete?_method=DELETE" method="POST">
                <button class="btn btn-icon" type="submit"><i class="fa fa-trash mr-2"></i></button>
            </form>
            </div> 
            
        </div>
        `


    }).join('') %>
    </div>
<% } else { %>
    <h2 class="text-center">No Products Yet</h2>
<% } %>






<%- include('../partials/footer') %>