<%- include('../partials/header') %>
<%- include('../partials/title') %>


<% if (user.prod.length) { %>

<% } else { %>
    <h2 class="text-center">No Products Yet</h2>
<% } %>






<%- include('../partials/footer') %>