body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.product-home {
  text-align: center;
  font-size: 3vmin;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 1vmin;
}

.product-home:hover {
  background-color: gold;
}

.product-home img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

nav img {
  width: 2vmin;
  height: auto;
  border-radius: 10px 10px 0 0;
  color: white;
}

nav {
  font-size: 2vmin;
}

nav li {
  margin: 0 1vmin 0 1vmin;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 20px;
}

.show-image {
  width: 40vmin;
  height: auto;
}

.basket-item {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4vmin;
  border: dotted black 3px;
  padding: 2vmin;
}

.basket-item img {
  width: 100%;
}
.basket-left {
  width: 40%
}
.basket-right {
  width: 40%
}