body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.product-home {
  text-align: center;
  font-size: 3vmin;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 1vmin;
}

.product-home:hover {
  background-color: gray;
}

.product-home img {
  width: 100%;
  height: auto;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 20px;
}