<%- include('../partials/header') %>




  
<div class="container">
    <div class="row">


        <%= console.log(products) %>
        <%- products.map(function(p) {
            return `
            <div class="col-md-6 col-lg-4">
                <a href="/products/${p.id}">
                    <div class="product-home card-body">
                        <image src="https://img.freepik.com/premium-photo/white-tshirt-white-background-front-back-view-generative-ai_446633-7047.jpg?w=740"></image>
                        <h5 class="card-title">${p.name}</h5>
                        <p class="card-text">£${p.price}</p>
                    </div>
                </a>
            </div>
            `
        }).join('') %>
    </div>
</div>
  
  
  
  



<%- include('../partials/footer') %>