<%- include('../partials/header') %>
<%- include('../partials/title') %>




  
<div class="container mt-5" id="main-products">
    <br>
    <div class="row justify-content-center align-items-center">
        <%- products.map(function(product) {
            return `
            <div class="col-sm-8 col-md-6 col-lg-4 index-cards">
                <a class="justify-content-center d-flex align-items-center" href="/products/${product.id}">
                    <div class="product-home">
                        <image src="${product.image}"></image>
                        <span><p class="my-auto left">${product.name}</p>
                        <p class="my-auto right">£${product.price}</p></span>
                    </div>
                </a>
            </div>
            `
        }).join('') %>
    </div>
</div>
  
  
  
  



<%- include('../partials/footer') %>